<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EverLand Cafe</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.24/paper-full.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/cafeShop/chatroom.css">

</head>

<body>
  <div class="chatroom">
    <div class="nav">
      <ul>
        <li><a href="/cafeShop">離開聊天室</a></li>
      </ul>
    </div>
    

    <div class="chat-sidebar">
      <h1>聊天室資訊</h1>
      <h3><i class="fas fa-comments"></i> 桌號:</h3>
      <h2 id="room-name"></h2>
      <h3><i class="fas fa-users"></i> 用戶</h3>
      <ul id="users"></ul>
    </div>


    <!--對方的對話框內容會出現在這裡-->

    <div class="dialogContainer1">
      <h4 class="username1"></h4>
      <p id="dialogContent1" class="dialogContent1"></p>
    </div>


    <div class="dialogContainer2">
      <h4 class="username2"></h4>
      <p id="dialogContent2" class="dialogContent2"></p>
    </div>

  </div>
  <!--對話紀錄-->
  <div class="chat-container">
    <div class="chat-people">
      <svg viewBox="0 0 2100 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Frame">
        <rect width="2100" height="1080" fill="#C7B299"/>
        <g id="Group">
        <g id="Group_2">
        <g id="Group_3">
        <path id="XMLID 2" d="M1881.27 0H197.807V1080H1881.27V0Z" fill="#BAA68D"/>
        </g>
        </g>
        <path id="Vector" d="M197.807 0V1080H353.768V1070.08H267.55V505.176C267.55 444.453 321.181 395.302 387.437 395.302H404.031C491.812 218.976 686.011 96.4286 911.235 96.4286H1167.84C1393.19 96.4286 1587.27 218.976 1675.17 395.302H1691.76C1758.02 395.302 1811.65 444.453 1811.65 505.176V1070.08H1725.43V1080H1881.39V0H197.807Z" fill="#C7B299"/>
        <g id="Group_4">
        <path id="Vector_2" d="M1039.54 117.698C901.014 117.698 788.703 220.629 788.703 347.584V1018.07H1290.37V347.584C1290.37 220.629 1178.06 117.698 1039.54 117.698Z" fill="#D6B981"/>
        <path id="Vector_3" d="M1039.54 117.698C901.014 117.698 788.703 220.629 788.703 347.584V1018.07H1290.37V347.584C1290.37 220.629 1178.06 117.698 1039.54 117.698ZM1264.88 360.257V435.306H1054.57V144.367C1172.05 151.751 1264.88 245.535 1264.88 360.257ZM1054.57 456.686H1265V722.498H1054.57V456.686ZM1024.63 722.498H814.195V456.686H1024.63V722.498ZM1024.63 144.367V435.306H814.195V360.147C814.195 245.535 907.146 151.751 1024.63 144.367ZM814.195 743.767H1024.63V991.396H814.195V743.767ZM1054.57 991.396V743.767H1265V991.396H1054.57Z" fill="black"/>
        </g>
        <g id="Group_5">
        <path id="Vector_4" d="M1097.5 836.008H939.974L869.148 1020.49H717.877V1030.52H1008.88H1022.1H1029.08V1020.49H1026.67L1097.5 836.008Z" fill="white"/>
        <path id="Vector_5" d="M950.555 1004.51V1004.73C950.555 1013.33 958.131 1020.27 967.51 1020.27H968.232C969.915 1026 975.567 1030.3 982.301 1030.3H1019.7C1027.75 1030.3 1034.25 1024.35 1034.25 1016.96V984.122H967.751V988.971H967.51C958.131 988.971 950.555 996.024 950.555 1004.51ZM956.568 1004.51C956.568 999 961.498 994.482 967.51 994.482H967.751V1014.87H967.51C961.498 1014.87 956.568 1010.35 956.568 1004.84V1004.51Z" fill="#69201B"/>
        <path id="Vector_6" d="M1658.69 1029.31H573.099V1070.08H1658.69V1029.31Z" fill="#69201B"/>
        </g>
        <g id="Group_6">
        <g id="Group_7">
        <g id="Group_8">
        <path id="Vector_7" d="M678.796 387.257C741.82 387.257 792.911 340.433 792.911 282.673C792.911 224.913 741.82 178.09 678.796 178.09C615.773 178.09 564.682 224.913 564.682 282.673C564.682 340.433 615.773 387.257 678.796 387.257Z" fill="#FFDFA9"/>
        <g id="Group_9">
        <path id="Vector_8" d="M675.429 395.302C670.98 395.302 667.252 399.82 667.252 405.441V470.241C667.252 475.861 670.86 480.38 675.429 480.38C679.878 480.38 683.606 475.861 683.606 470.241V405.441C683.486 399.82 679.878 395.302 675.429 395.302Z" fill="black"/>
        <path id="Vector_9" d="M702.966 432.882H649.095L632.862 298.212H719.32L702.966 432.882Z" fill="#CC7F62"/>
        <path id="Vector_10" d="M642.963 381.967C654.266 385.384 666.291 387.257 678.796 387.257C689.258 387.257 699.359 385.935 708.978 383.51L719.32 298.102H632.742L642.963 381.967Z" fill="#D6B981"/>
        <path id="Vector_11" d="M726.053 282.122V275.18C722.205 275.18 718.718 272.755 717.756 269.339L712.225 249.392C711.263 245.976 707.896 243.551 703.928 243.551H686.011V237.71H683.967V233.633H679.157V223.163H684.448V219.527H690.821V210.6H684.448V191.535H667.613V210.6H661.24V219.527H667.613V223.163H672.904V233.633H668.094V237.71H666.17V243.551H648.253C644.405 243.551 640.918 245.976 639.956 249.392L634.425 269.339C633.463 272.755 630.096 275.18 626.128 275.18V282.122H636.469V286.531H628.052V303.171H672.423V426.269H641.76V441.257H710.782V426.269H680.119V303.171H724.49V286.531H716.073V282.122H726.053Z" fill="black"/>
        </g>
        </g>
        </g>
        <g id="Group_10">
        <g id="Group_11">
        <path id="Vector_12" d="M1400.28 387.257C1463.3 387.257 1514.4 340.433 1514.4 282.673C1514.4 224.913 1463.3 178.09 1400.28 178.09C1337.26 178.09 1286.17 224.913 1286.17 282.673C1286.17 340.433 1337.26 387.257 1400.28 387.257Z" fill="#FFDFA9"/>
        <g id="Group_12">
        <path id="Vector_13" d="M1396.91 395.302C1392.46 395.302 1388.74 399.82 1388.74 405.441V470.241C1388.74 475.861 1392.34 480.38 1396.91 480.38C1401.48 480.38 1405.09 475.861 1405.09 470.241V405.441C1404.97 399.82 1401.36 395.302 1396.91 395.302Z" fill="black"/>
        <path id="Vector_14" d="M1424.45 432.882H1370.58L1354.35 298.212H1440.8L1424.45 432.882Z" fill="#CC7F62"/>
        <path id="Vector_15" d="M1364.45 381.967C1375.75 385.384 1387.77 387.257 1400.28 387.257C1410.74 387.257 1420.84 385.935 1430.46 383.51L1440.8 298.102H1354.23L1364.45 381.967Z" fill="#D6B981"/>
        <path id="Vector_16" d="M1447.54 282.122V275.18C1443.69 275.18 1440.2 272.755 1439.24 269.339L1433.71 249.392C1432.75 245.976 1429.38 243.551 1425.41 243.551H1407.5V237.71H1405.45V233.633H1400.64V223.163H1405.93V219.527H1412.31V210.6H1405.93V191.535H1389.1V210.6H1382.72V219.527H1389.1V223.163H1394.39V233.633H1389.58V237.71H1387.53V243.551H1369.62C1365.77 243.551 1362.28 245.976 1361.32 249.392L1355.79 269.339C1354.83 272.755 1351.46 275.18 1347.49 275.18V282.122H1357.83V286.531H1349.42V303.171H1393.79V426.269H1363.12V441.257H1432.15V426.269H1401.48V303.171H1445.85V286.531H1437.44V282.122H1447.54Z" fill="black"/>
        </g>
        </g>
        </g>
        </g>
        </g>
        <g id="man_with_cloud">
        <g id="man">
        <path id="Vector_17" d="M666.531 765.808L779.083 873.918L872.635 729.771C872.635 729.771 864.218 708.943 872.635 699.796C881.053 690.649 886.103 681.171 886.945 672.465C887.787 663.759 901.014 672.465 901.374 679.959C901.855 687.453 885.502 699.465 885.502 699.465L891.875 700.347C891.875 700.347 951.518 643.592 953.802 653.951C956.087 664.31 922.177 686.682 922.177 686.682L927.107 690.098C927.107 690.098 966.909 660.233 972.32 665.963C977.732 671.804 937.93 692.523 937.93 692.523C937.93 692.523 954.163 688.004 958.732 692.523C963.302 697.041 952.359 700.347 952.359 700.347C952.359 700.347 955.125 705.747 952.84 709.053C950.556 712.359 894.52 734.29 894.52 734.29C894.52 734.29 883.458 973.102 800.487 964.176C717.516 955.249 626.008 901.249 626.008 901.249L666.531 765.808Z" fill="#CC7F62"/>
        <path id="Vector_18" d="M543.518 641.388L526.323 657.367C526.323 657.367 462.472 685.69 436.618 724.592C429.764 734.841 404.873 807.024 403.19 843.612C398.5 945.551 430.245 1065.67 430.245 1065.67H659.316C659.316 1065.67 730.142 809.559 706.935 770.657C692.385 746.302 678.556 690.539 543.518 641.388Z" fill="#FFDFA9"/>
        <path id="Vector_19" d="M636.59 483.575C636.59 483.575 679.518 548.045 678.676 554.657C677.835 561.38 660.639 555.098 658.114 558.955C655.589 562.922 681.322 604.58 673.145 612.074C664.968 619.567 614.344 608.878 610.135 618.355C605.806 627.833 607.61 689.878 607.61 689.878L526.563 656.816C526.563 656.816 567.087 493.163 576.346 486.551C605.205 465.833 636.59 483.575 636.59 483.575Z" fill="#CC7F62"/>
        <path id="Vector_20" d="M651.981 482.804H621.559L633.944 488.755C633.944 488.755 611.699 484.016 611.699 488.755C611.699 493.494 620.717 507.6 620.236 513.882C619.755 520.163 608.211 526.114 609.895 536.694C611.578 547.273 631.179 567 631.179 567C631.179 567 658.475 556.751 661.361 561.049C664.367 565.347 665.088 571.739 665.088 571.739L660.759 568.874C660.759 568.874 663.044 574.053 650.418 570.857C624.084 564.135 642.482 600.722 648.975 601.935C655.469 603.147 664.728 577.8 664.728 577.8C664.728 577.8 686.252 605.02 681.562 616.482C676.873 627.833 609.775 616.482 609.775 616.482L599.674 537.906C599.674 537.906 579.472 529.641 580.314 542.976C581.156 556.31 594.022 568.543 594.022 568.543L551.815 558.955C551.815 558.955 566.486 487.543 572.137 480.82C577.669 474.098 602.44 469.469 602.44 469.469L596.187 476.633C596.187 476.522 637.792 466.714 651.981 482.804Z" fill="#AF5030"/>
        <path id="Vector_21" d="M627.932 523.469L637.792 519.061V524.351L627.932 523.469Z" fill="black"/>
        <path id="Vector_22" d="M641.4 496.58C641.279 496.58 641.279 496.58 641.159 496.58L642.241 500.216L638.634 496.359C629.375 496.91 623.122 511.016 623.122 511.016C635.267 498.894 641.279 500.988 641.279 500.988C641.279 500.988 652.222 499.114 641.4 496.58Z" fill="#AF5030"/>
        <path id="Vector_23" d="M416.056 807.796L530.411 816.502L477.502 996.686L624.805 987.649C624.805 987.649 670.499 926.706 721.484 945.771C772.589 964.837 756.717 972.661 753.59 973.543C750.464 974.424 721.484 952.053 721.484 952.053L695.751 951.171C695.751 951.171 733.75 952.384 744.091 975.196C754.432 998.008 739.521 988.861 739.521 988.861C739.521 988.861 748.059 996.686 742.287 999.22C736.395 1001.76 724.611 988.861 724.611 988.861C724.611 988.861 642.362 1007.49 630.096 1003.41C630.096 1003.41 522.475 1083.2 422.429 1041.43C322.624 999.661 416.056 807.796 416.056 807.796Z" fill="#CC7F62"/>
        </g>
        <g id="Group_13">
        <path id="Vector_24" d="M599.705 386.388L573.612 219.613L567.359 219.362L566.517 214.088L52.4597 193.241L4 288.684L49.694 470.781L55.2254 470.529L56.6683 476.306L424.625 466.385L495.21 518L489.559 464.753L561.467 462.743L599.705 386.388Z" fill="#000101"/>
        <path id="Vector_25" d="M582.029 378.979L557.859 224.386L58.3518 204.167L14.8223 290.066L57.3898 459.855L420.657 450.185L475.61 490.246L471.161 448.803L548.119 446.794L582.029 378.979Z" fill="white"/>
        </g>
        </g>
        <g id="woman_with_cloud">
        <g id="woman">
        <path id="Vector_26" d="M1513.43 619.567C1513.43 619.567 1529.91 621.331 1540.13 613.065C1540.13 613.065 1517.4 640.947 1513.43 619.567Z" fill="#FFDFA9"/>
        <path id="Vector_27" d="M1547.82 539.669C1547.82 539.669 1484.94 610.531 1488.66 614.718C1492.39 618.906 1509.1 610.31 1514.03 616.922C1518.97 623.535 1501.89 647.449 1510.43 652.078C1518.84 656.706 1544.46 645.796 1558.77 661.665C1573.08 677.535 1559.97 738.918 1559.97 738.918L1616.73 702.992C1616.73 702.992 1574.64 622.212 1579.21 610.31C1583.78 598.408 1615.4 585.735 1615.64 567.22C1615.88 548.706 1547.82 539.669 1547.82 539.669Z" fill="#CC7F62"/>
        <path id="Vector_28" d="M1504.3 928.028L1446.58 854.082C1446.58 854.082 1400.04 840.527 1394.51 834.245C1388.86 827.963 1390.9 838.653 1394.51 840.857C1398.12 843.061 1415.31 848.902 1415.31 848.902C1415.31 848.902 1379.24 847.8 1377.67 851.878C1376.11 855.955 1392.95 857.057 1392.95 857.057C1392.95 857.057 1390.18 864 1395.71 866.645C1395.71 866.645 1390.06 868.518 1396.55 875.241C1396.55 875.241 1388.14 878.327 1390.9 880.2C1393.67 882.073 1445.01 869.18 1445.01 869.18L1499.12 960.649L1504.3 928.028Z" fill="#CC7F62"/>
        <path id="Vector_29" d="M1617.33 690.208L1535.08 721.837L1519.93 746.853L1553.6 732.857C1553.6 732.857 1491.19 1000.98 1471.95 1020.82C1452.71 1040.66 1500.33 1049.36 1500.33 1049.36L1702.7 1060.16L1617.33 690.208Z" fill="white"/>
        <path id="Vector_30" d="M1544.1 543.857C1544.1 543.857 1539.41 533.939 1549.63 528.539C1559.85 523.139 1632.36 551.571 1632.36 551.571C1632.36 551.571 1660.02 509.363 1678.65 531.294C1697.29 553.224 1639.21 557.743 1639.21 557.743C1639.21 557.743 1618.29 626.51 1580.41 621.661L1566.7 620.449C1566.7 620.449 1595.92 594.441 1580.29 593.89C1564.66 593.229 1565.98 607.004 1565.98 607.004C1565.98 607.004 1550.47 615.269 1555.64 628.604C1555.64 628.604 1545.9 614.829 1562.49 606.343L1562.98 575.045C1562.98 575.045 1586.06 535.922 1544.1 543.857Z" fill="#952E1E"/>
        <path id="Vector_31" d="M1536.64 563.473C1536.64 563.473 1543.98 553.776 1549.99 571.518C1549.99 571.408 1545.42 547.604 1536.64 563.473Z" fill="#952E1E"/>
        <path id="Vector_32" d="M1542.05 579.453L1550.47 586.396L1543.01 585.184L1542.05 579.453Z" fill="#350010"/>
        <path id="Vector_33" d="M1579.93 1008.59L1423.37 1026.66C1423.37 1026.66 1385.37 995.253 1368.9 994.041C1352.42 992.828 1345.45 1007.6 1345.45 1007.6L1366.25 996.465L1378.4 1005.06C1378.4 1005.06 1346.53 1010.13 1343.52 1014.76C1340.52 1019.39 1338.35 1026.99 1342.32 1029.42C1346.29 1031.95 1347.25 1024.13 1347.25 1024.13C1347.25 1024.13 1351.22 1031.51 1353.26 1031.62C1355.19 1031.73 1358.68 1027.32 1358.68 1027.32C1358.68 1027.32 1419.88 1037.68 1422.53 1037.9C1425.17 1038.12 1588.59 1038.56 1588.59 1038.56L1579.93 1008.59Z" fill="#CC7F62"/>
        <path id="Vector_34" d="M1383.69 835.898H1383.45V831.049H1316.95V864C1316.95 871.384 1323.44 877.335 1331.5 877.335H1368.9C1375.63 877.335 1381.4 873.037 1382.97 867.306H1383.69C1393.07 867.306 1400.64 860.363 1400.64 851.767V851.547C1400.64 842.841 1393.07 835.898 1383.69 835.898ZM1394.63 851.767C1394.63 857.278 1389.7 861.796 1383.69 861.796H1383.45V841.408H1383.69C1389.7 841.408 1394.63 845.926 1394.63 851.437V851.767Z" fill="#69201B"/>
        <path id="Vector_35" d="M1513.43 626.731C1513.43 626.731 1529.91 628.494 1540.13 620.229C1540.13 620.229 1517.52 648.11 1513.43 626.731Z" fill="#FFDFA9"/>
        </g>
        <g id="Group_14">
        <path id="Vector_36" d="M1493.29 390.388L1519.39 223.613L1525.64 223.362L1526.48 218.088L2040.66 197.241L2089 292.684L2043.43 474.781L2037.77 474.529L2036.33 480.306L1668.37 470.385L1597.79 522L1603.44 468.753L1531.53 466.743L1493.29 390.388Z" fill="#000101"/>
        <path id="Vector_37" d="M1510.97 382.979L1535.14 228.386L2034.65 208.167L2078.18 294.066L2035.61 463.855L1672.34 454.185L1617.39 494.246L1621.84 452.803L1544.88 450.794L1510.97 382.979Z" fill="white"/>
        </g>
        </g>
        </g>
        </svg>
        
    </div>
    <main class="chat-main">
      <div class="chat-messages"></div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input id="msg" type="text" placeholder="輸入訊息" required autocomplete="off" class="form-control" />
        <button class="btn"><i class="fas fa-paper-plane"></i> 送出</button>
      </form>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js" integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/cafeShop/cafeTalk.js"></script>
</body>

</html>